/* src/components/FloatingCTA/FloatingCTA.module.css */

.btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 900;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #333;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background: #000;
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

@media (max-width: 768px) {
  .btn {
    bottom: 1.5rem;
    right: 1.5rem;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
  }
}
